@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section -->
<div class="hero-section">
    <h1>&#9835; Singing With Ryan</h1>
    <p>Learn how to get the most out of your voice</p>
</div>

<!-- Intro -->
<div class="content-card">
    <h2>Why Singing?</h2>
    <p>
        Singing has been a big part of my life since 7th grade, and has facilitated some of the best memories and experiences of my life.
        Even in junior high, I was fortunate enough to have a great choir, and I quickly learned that there are very few things that match
        the level of fulfillment and satisfaction that come from singing great music in a great choir. Along with choir, I eventually
        got out of my comfort zone and played lead roles in various musicals, which helped me grow significantly and become more
        confident in myself. Most recently, I've been able to be part of BYU Singers, which has allowed me to travel throughout
        the world and meet amazing people and perform in incredible venues.
    </p>
    <p>
        Learning to sing at a high level requires effort and practice, but it's very doable and highly satisfying. I think everyone
        should take the time to learn how to get the most out of their voice--even if it's just to have more fun singing in the car
        or the shower. It doesn't require the resources or lifestyle changes that other hobbies do, and it can open doors to new and
        fulfilling opportunities.
    </p>
</div>

<!-- Photos from Europe choir tour -->
<h3 class="text-center mb-3" style="color: #1a5276;">Photos from last year's BYU Singers tour to Italy, Greece, Switzerland, and Belgium!</h3>
<div class="row g-4 mb-4">
    <div class="col-md-6">
        <img src="~/images/2bd77aec167f82069717713a64abd2c4.JPEG"
             alt="Ryan on choir tour in Europe"
             class="hobby-image" />
    </div>
    <div class="col-md-6">
        <img src="~/images/IMG_2032.jpeg"
             alt="Ryan on choir tour in Europe"
             class="hobby-image" />
    </div>
    <div class="col-md-6">
        <img src="~/images/IMG_2342.jpeg"
             alt="Ryan on choir tour in Europe"
             class="hobby-image" />
    </div>
    <div class="col-md-6">
        <img src="~/images/IMG_2501.JPG"
             alt="Ryan on choir tour in Europe"
             class="hobby-image" />
    </div>
</div>

<!-- Direct to 2nd page -->
<div class="content-card text-center">
    <h2>Want to Learn to Sing?</h2>
    <p>
        Check out my lesson calculator to see prices for vocal coaching.
    </p>
    <a asp-controller="Home" asp-action="Calculator" class="btn btn-calculate" style="max-width: 300px; display: inline-block;">
        &#9835; View Lesson Pricing
    </a>
</div>
